#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body {
    background-image: url("pictures/sunset.jpg");
}


#greeting-container {
  margin-top: 50px;
}

img.resize {
  max-width:25%;
  max-height:25%;
}

.column {
  float: left;
  width:  20%;
  padding: 5px;
}

/* Clear floats after image containers */
.row:after {
  content: "";
  clear: both;
  display: table;
}

.fa:hover {
    opacity: 0.7;
}
